[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
tweepy = "*"
numpy = "*"
pandas = "*"
flask-pymongo = "*"
"jinja2" = "*"
eve = "*"
dash = "==0.22.0"
dash-renderer = "==0.13.0"
dash-html-components = "==0.11.0"
dash-core-components = "==0.26.0"
plotly = "*"

[dev-packages]
"autopep8" = "*"

[requires]
python_version = "3.6"
